* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    overflow: hidden;
  }
  
  .right_home {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-left: 20px;
  }
  
  .left_home {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main_home {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 30px;
  }
  
  .my_img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 440px;
    width: 400px;
  }
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .green {
    color: #9cff1e;
  }
  
  .fs {
    font-size: 30px;
  }
  
  .btn_2 {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 10px #c5c5c5, -6px -6px 10px #ffffff;
    color: white;
    margin: 10px 0px;
  }
  
  .btn_2::before {
    content: "";
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #9cff1e 0%, #f9f047 100%);
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }
  
  .btn_2:hover::before {
    width: 9em;
  }
  
  .btn_2:hover {
    color: black;
    transition: all 0.4s ease-in-out;
  }
  
  .about {
    font-size: 20px;
  }
  
  @media screen and (max-width: 680px) {
    .main_home {
      flex-direction: column-reverse;
    }
    .right_home {
      width: 100%;
      gap: 10px;
      flex-direction: column;
    }
    .fs{
      font-size: 20px;
    }
    .left_home {
      width: 100%;
    }
    .my_img{
      height: 300px;
      width: 300px;
    }
    .btn_2 {
      position: static;
    }
  }
  